@font-face {
  font-family: Poppins-Medium;
  src: url('../../../fonts/poppins/Poppins-Medium.ttf'); 
}
.container{
  text-align: center;
  width: 100%;  
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #fff;
}
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control{
  width: 500px;
}
.title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #212121;
  width: 100%;
  top: 0;
  left: 0;
}
.help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  line-height: .7;
}
.btn{
  padding: 5px 50px;
  border: .5px solid #212121;
  max-width: 200px;
  cursor: pointer;
}
.btn:hover {
  background-color: #00897b;
  color: #fff;
  transition: background 0.3s linear, color 0.1s linear;
}