.container {
  margin-top: 20px;
}

/* Calendar header with date*/
.date__header {
  display: flex;
  justify-content: center;
}
.year {
  font-size: 20px;
  padding: 0px 30px;
}
.material-icons {
  cursor: pointer;
}

/* Calendar */
tr, td {
  border: 2px solid#009688;
}
.months {
  text-align: center;
}
.tbody{
  border-collapse: separate;
  border-spacing: 7px;
}
.calendar__number{
  text-decoration: none;
  color: #212121;
  font-size: 20px;
}
.tdata {
  padding: 0px 5px;
  cursor: pointer;
}
.calendar__day:nth-child(7) {
  color: #ff685d;
}
.calendar__day{
  font-size: 30px;
  padding: 10px;
}

.active {  /* today */
  border: 2px solid  #009688;
  border-radius: 50%;
  padding: 0 3px;
}
.selected {
  font-weight: 900;
  color: #009688;
}
.disable {
  opacity: .3;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.8);
}
.header_popup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.show {
  display: block;
}
.text-area {
  margin-bottom: 7px;
}
.close {
  padding: 0rem;
  margin: 0rem;
  color:#009688;
  font-weight: 900;
  outline: none;
}
.btn {
  cursor: pointer;
  background-color: #009688;
}

@media (max-width: 1200px) {
  .calendar__day {
    font-size: 20px;
 
  }
}
@media (max-width: 992px) {
  .calendar__day {
    font-size: 18px;
 
  }
}
@media (max-width: 800px) {
  .calendar__day {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .calendar__day {
    font-size: 10px;
  }
}